# =====================================================
# OVERLAY CONFIG - ARCADE MAME
# =====================================================

overlays = 1
overlay0 = overlays/arcade/mame.cfg

# Opciones de overlay
overlay0_overlay = overlays/arcade/bezel_mame.png
overlay0_overlay_opacity = "0.750"
overlay0_overlay_lock_aspect = "true"
overlay0_overlay_name = "MAME Arcade"

# =====================================================
# OVERLAY CONFIG - NES
# =====================================================

overlays_nes = 1
overlay0_nes = overlays/nes/nes.cfg

# =====================================================
# OVERLAY CONFIG - SNES
# =====================================================

overlays_snes = 1
overlay0_snes = overlays/snes/snes.cfg

# =====================================================
# OVERLAY CONFIG - PS1
# =====================================================

overlays_psx = 1
overlay0_psx = overlays/psx/psx.cfg

# =====================================================
# OVERLAY CONFIG - N64
# =====================================================

overlays_n64 = 1
overlay0_n64 = overlays/n64/n64.cfg

# =====================================================
# OVERLAY CONFIG - GBA
# =====================================================

overlays_gba = 1
overlay0_gba = overlays/gba/gba.cfg

# =====================================================
# OVERLAY CONFIG - GENESIS
# =====================================================

overlays_genesis = 1
overlay0_genesis = overlays/genesis/genesis.cfg