# Rutas de ES-DE para RetroGamingBox
# Edita estas rutas según tu configuración

<system>
  <name>romDirectory</name>
  <value>/home/fabian/ROMs_Archive</value>
</system>
<system>
  <name>saveDirectory</name>
  <value>/home/fabian/ROMs_Archive/saves</value>
</system>
<system>
  <name>systemDirectory</name>
  <value>/home/fabian/RetroGamingBox/bios</value>
</system>
<system>
  <name>screenshotsDirectory</name>
  <value>/home/fabian/ROMs_Archive/screenshots</value>
</system>
<system>
  <name>thumbnailsDirectory</name>
  <value>/home/fabian/ROMs_Archive/thumbnails</value>
</system>
